<div class="A0">
  <div class="A1 mobile-hide">
    <div>
      <a
        href="https://github.com/UrosNikolic95/squares-vs-hexagons"
        target="_blank"
      >
        <p class="center">Go to code.</p>
      </a>
    </div>
  </div>
  <div class="A2 game-pannel">
    <app-tiles-component> </app-tiles-component>
  </div>
  <div class="A3 mobile-hide">
    <img src="../assets/UrosNikolic.jpg" />
    <p style="text-align: center; font-size: 32px">Uros Nikolic</p>
    <p style="text-align: center; font-size: 20px">
      Uros Nikolic is junior backend developer. He is also an author of
      "Fragmented mind".
    </p>
    <a
      href="https://www.amazon.com/Fragmented-mind-Uros-Nikolic/dp/1387851519/ref=sr_1_4?crid=2G3IHYW70LTNY&keywords=Fragmented+mind&qid=1661550701&s=books&sprefix=fragmented+mind+%2Cstripbooks-intl-ship%2C177&sr=1-4"
      target="_blank"
    >
      <p class="center">Buy "Fragmented mind".</p>
    </a>
    <a
      href="https://www.amazon.com/Fragmented-mind-Uros-Nikolic/dp/1387864149/ref=sr_1_4?crid=3RMNAW7LFRCVO&keywords=Fragmented+mind&qid=1662835198&s=books&sprefix=fragmented+mind%2Cstripbooks-intl-ship%2C149&sr=1-4"
      target="_blank"
    >
      <p class="center">Buy older version.</p>
    </a>
    <a
      href="https://www.youtube.com/channel/UCNKLbqHTv5YfoCypYmcnlag"
      target="_blank"
    >
      <p class="center">My YouTube channel.</p>
    </a>
  </div>
</div>
