<div class="A0">
  <div class="A1">
    <div>
      <p class="p1">Controls:</p>
      <p class="p1">1,2 and 3 transform from hexagons to squares</p>
      <p class="p1">w, a, s and d move highligted square</p>
      <p class="p1">y, f, g and h move line</p>
    </div>
  </div>
  <div class="A2">
    <app-tiles-component></app-tiles-component>
  </div>
  <div class="A3">
    <img src="../assets/UrosNikolic.jpg" />
    <p style="text-align: center; font-size: 32px">Uros Nikolic</p>
    <p style="text-align: center; font-size: 20px">
      Uros Nikolic is junior backend developer. He is also an author of
      "Fragmented mind".
    </p>
    <a
      href="https://www.amazon.com/Fragmented-mind-Uros-Nikolic/dp/1387851519/ref=sr_1_4?crid=2G3IHYW70LTNY&keywords=Fragmented+mind&qid=1661550701&s=books&sprefix=fragmented+mind+%2Cstripbooks-intl-ship%2C177&sr=1-4"
    >
      <p class="center">Go to amazon page.</p>
    </a>
  </div>
</div>
