:host {
  display: block;
  position: relative;
  height: 100vh;
  width: 100%;
}

.button-box {
  position: absolute;
}

.button-box div {
  margin: 10px;
  height: 30px;
  width: 30px;
  background-color: aqua;

  display: flex;
  justify-content: center;
  align-items: center;
}
