<div class="field">
  <app-single-tile-component
    *ngFor="let point of field"
    [point]="point"
    [tiles]="tiles"
  ></app-single-tile-component>
  <div class="mobile-controlls button-box">
    <div (touchstart)="func('w')">w</div>
    <div (touchstart)="func('a')">a</div>
    <div (touchstart)="func('s')">s</div>
    <div (touchstart)="func('d')">d</div>
    <div (touchstart)="func('y')">y</div>
    <div (touchstart)="func('g')">g</div>
    <div (touchstart)="func('h')">h</div>
    <div (touchstart)="func('j')">j</div>
  </div>
</div>
